# 数据库密码
MYSQL_PASSWORD=

# Redis 密码
REDIS_PASSWORD=

# JWT 密钥
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

# API Key
API_API_KEY=sk-cp-8MewBrAg3keAlRHh_cPplYTLMk_LQZJ9gvBe_0Tu5XTSW2SgEbJa0Gnort61dq-6cUcSlATmmWR1bLRSK03peh6VWm6Enj5Wzg0cZ5s6qrkZaSuyAlfs_pY
